<div id="menu">
<tr>
    <td class="left">
        <a href="index.php?link=index">Home</a><br />
        <a href="index.php?link=photo">Photo</a><br />
        <a href="index.php?link=task">Task</a><br />
    </td>
</tr>
</div>
