

<form method="post" name="upload" action="myPhoto.php" enctype="multipart/form-data" >

    <label for="if">File:</label>
    <input type="file" name="file" id="if"/><br /><br />
   
    <input type="submit" name="sb" id="sb" value="upload" />
    <input type="reset" name="rb" id="rb" value="cancel" />

    <br />

    <input type="radio" name="priv_or_pub" id="private" value="private" > Private<br>
    <input type="radio" name="priv_or_pub" id="public" value="public"> Public<br>
    <span class="error">* <?php echo $priv_or_pubErr;?></span>
    <br />
    <br />
    Name: <input type="text" name="name"><br>
    <span class="error">* <?php echo $nameErr;?></span>
    <br />
   
   </form>