#header {
    background-color: green;
    display:block;
    min-height: 50px;
    text-align:center;
    width: 1000px;
}

#menu {
    float: left;
    width:25%;
    display:block;
    background-color: yellow;
    min-height: 200px;
}

#footer {
    background-color:pink;
    clear:both;
    min-height:50px;
    text-align:center;
    width: 1000px;
    
}

a {
    color: purple;
    text-decoration: none;
    font-size: 30px;
}

#zadatak {
    width:25%;
    float:left;
}